swagger: '2.0'
info:
  title: Open Bank Project API
  description: An Open Source API for Banks. (c) TESOBE Ltd. 2011 - 2016. Licensed under the AGPL and commercial licences.
  contact:
    name: TESOBE Ltd. / Open Bank Project
    url: 'https://openbankproject.com'
  version: v2.1.0
host: 'apisandbox.openbankproject.com'
basePath: /obp/v2.1.0
schemes:
  - https
  - http

securityDefinitions:
  oauth2:
    type: oauth2
    flow: implicit
    authorizationUrl: https://instagram.com/oauth/authorize/?client_id=CLIENT-ID&redirect_uri=REDIRECT-URI&response_type=token
    scopes:
      basic: |
       to read any and all data related to a user (e.g. following/followed-by
        lists, photos, etc.) (granted by default)
  key:
    type: apiKey
    in: query
    name: DirectLogin token=
  internalApiKey:
      type: apiKey
      in: header
      name: Authorization  
security:
  - oauth2:
    - basic
  - key: []
  - internalApiKey: []
  
paths:
  /users/current:
    get:
      security:
        - internalApiKey: []
        - key: []
        - oauth2:  
          - basic
      tags:
        - '1_2_1'
      summary: Get accounts at all banks (Authenticated + Anonymous access).
      description: '<p>Returns the list of accounts at that the user has access to at all banks. For each account the API returns the account ID and the available views.</p><p>If the user is not authenticated via OAuth, the list will contain only the accounts providing public views. If the user is authenticated, the list will contain non-public accounts to which the user has access, in addition to all public accounts.</p><p>Note for those upgrading from v1.2: The v1.2 version of this call was buggy in that it did not include public accounts if an authenticated user made the call. If you need the previous behaviour, please use the API call for private accounts (..../accounts/private).</p>'
      produces:
              - application/json
              - application/xml
#      parameters:
#        - in: path
#          name: petId
#          description: ID of pet that needs to be fetched
#          required: true
#          type: integer
#          format: int64
#        - in: body
#            name: body
#            description: Pet object that needs to be added to the store
#            required: false
#            schema:
#              $ref: "#/definitions/Pet"
#        - in: formData
#            name: status
#            description: Updated status of the pet
#            required: true
#            type: string      
#        - in: header
#            name: api_key
#            description: ""
#            required: true
#            type: string          
      responses:
        '200':
          description: Success
definitions:
  User:
    type: object
    properties:
      id:
        type: integer
        format: int64
      username:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      email:
        type: string
      password:
        type: string
      phone:
        type: string
      userStatus:
        type: integer
        format: int32
        description: User Status
  Category:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
  Pet:
    type: object
    required:
      - name
      - photoUrls
    properties:
      id:
        type: integer
        format: int64
      category:
        $ref: "#/definitions/Category"
      name:
        type: string
        example: doggie
      photoUrls:
        type: array
        items:
          type: string
      tags:
        type: array
        items:
          $ref: "#/definitions/Tag"
      status:
        type: string
        description: pet status in the store
  Tag:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
  Order:
    type: object
    properties:
      id:
        type: integer
        format: int64
      petId:
        type: integer
        format: int64
      quantity:
        type: integer
        format: int32
      shipDate:
        type: string
        format: date-time
      status:
        type: string
        description: Order Status
      complete:
        type: boolean          